<%- include('head'); -%>
<%- include('header'); -%>
<section class="home-slider owl-carousel img" style="background-image: url(images/senai_facebook.png);">
	
	<div class="slider-item" style="background-image: url(images/senai_facebook.png);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">
				
				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Sobre</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Sobre</span></p>
				</div>
				
			</div>
		</div>
	</div>
</section>
<div style="background-image: url(images/WallpaperBranco.jpg);background-attachment: fixed; background-size: cover;">
	<section class="ftco-about d-md-flex" style="margin-top: 2%">
		<div class="one-half img" style="background-image: url(images/SenaiAereo.png);"></div>
		<div class="one-half ftco-animate">
			<div class="heading-section ftco-animate ">
				<h2 class="mb-4">Conheça mais sobre o <span>Senai</span></h2>
			</div>
			<div>
				<p>O SENAI tem suas origens inspiradas no antigo Centro Ferroviário de Ensino e Seleção Profissional
					(CFESP), criado em 1934 no estado de São Paulo por Roberto Mange. O Centro Ferroviário, como era
					conhecido, é considerado marco inicial na evolução de conceitos e métodos da formação profissional
					no SENAI.<br>
					
					Sua oficialização aconteceu pelo Decreto-Lei Nº 4.048, publicado no Diário Oficial da União, no dia
					24 de janeiro de 1942. Dois grandes líderes industriais da época foram determinantes nessa ação:
					Euvaldo Lodi e Roberto Simonsen, presidente da CNI e da FIESP, respectivamente.<br>
					
					Desde então, o Serviço Nacional de Aprendizagem Industrial – SENAI estabeleceu-se como um modelo de
					educação profissional e é hoje um dos mais importantes pólos nacionais de geração e difusão de
					conhecimento aplicado ao desenvolvimento industrial e social. São milhões de pessoas qualificadas
					pelo SENAI, o que o torna reconhecido como o maior sistema de educação profissional brasileiro e
					modelo para vários países.<br>
				</p>
			</div>
		</div>
	</section>
	<section class="ftco-about d-md-flex" style="margin-top: 2%">
		<div class="one-half ftco-animate">
			<div>
				<p>Em 1980 a Prefeitura Municipal de Diadema doou ao SENAI um terreno, situado no bairro de Curral
					Grande, para que ali se instalasse uma escola. Em 1º de fevereiro de 1985 a escola iniciou suas
					atividades com cursos de aprendizagem para as ocupações de eletricista de manutenção e caldeireiro,
					e treinamentos para soldador eclético.<br>
					
					Um ano depois começaram cursos de aprendizagem para torneiros mecânicos, ajustadores e mecânicos
					gerais. Em agosto de 1986 a escola passou a oferecer treinamentos ocupacionais de especialização
					para ferramenteiros, no período diurno e programações noturnas nas áreas da mecânica geral e da
					eletricidade.<br>
					
					Em 1987 a unidade recebeu patrono e nova denominação: Escola SENAI "Manuel Garcia Filho".<br>
				</p>
			</div>
		</div>
		<div class="one-half img" style="background-image: url(images/SenaiDiadema4.png);"></div>
	</section>
	
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3 mt-5">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Missão, Visão e Valores</h2>
					<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
					<p class="mt-5">Conheça mais sobre nossos princípios</p>
				</div>
			</div>
			<div class="row" style="justify-content: center;">
				<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
					<div class="staff">
						<div class="img mb-4" style="background-image: url(images/icons/Missao.png);"></div>
						<div class="info text-center">
							<h3><a href="teacher-single.html">Missão</a></h3>
							<span class="position black">Nosso alvo é:</span>
							<div class="text">
								<p>Promover a educação profissional e o ensino superior, a inovação e a transferência de
									tecnologias industriais, contribuindo para elevar a competitividade da indústria.
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
					<div class="staff">
						<div class="img mb-4" style="background-image: url(images/icons/Visao.jpg);"></div>
						<div class="info text-center">
							<h3><a href="teacher-single.html">Visão</a></h3>
							<span class="position black">Queremos...</span>
							<div class="text">
								<p>Ser referência no desenvolvimento de competências em gestão e na promoção da inovação
									para aumentar a competitividade da indústria brasileira.</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
						<div class="staff">
							<div class="img mb-4" style="background-image: url(images/icons/Valores.png);"></div>
							<div class="info text-center">
								<h3><a href="teacher-single.html">Valores</a></h3>
								<span class="position black">Prezamos por:</span>
								<div class="text-left">
									<ul>
										<li>Sustentabilidade</li>
										<li>Inovação</li>
										<li>Agilidade</li>
										<li>Ética</li>
										<li>Valorização</li>
										<li>Excelência</li>
									</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
			<section class="ftco-appointment" style="margin-bottom: 2%;">
				<div class="overlay"></div>
				<div class="container-wrap" style="text-align: center;">
					<h1>Mapa</h1>
					<div class="row no-gutters d-md-flex align-items-center">
						<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.895399387015!2d-46.61289378529038!3d-23.679698384624167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce44937536ceeb%3A0xfa10a6739d679365!2sSENAI%20Manuel%20Garcia%20Filho!5e0!3m2!1spt-BR!2sbr!4v1660620458228!5m2!1spt-BR!2sbr"
						style="width:80vw; margin:auto;" height="450" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div> 
				</div>
</div>
<%- include('footer'); -%>
<%- include('scripts'); -%>