<%- include('head'); -%>
<%- include('header'); -%>
<section class="ftco-section w-100">
    <div class="flex">
        <div class="flex-item">
            <h1 class=" bread">Área Pedagógica</h1>
            <img src="images/pag/peg.jpg" alt="" class="img-flex">
        </div>
        <div class="flex-item amrgin-top" >
            <h4> A Área Pedagógica é o setor responsável pelo assessoramento e apoio ao Ensino, Pesquisa e Extensão, acompanhando, analisando e propondo melhorias nos processos educacionais. Abaixo você encontrará links que poderão lhe ajudar a analisar e acompanhar o ensino da nossa escola:</h4>
            <ul>
                <li><a  target="_blank" href="Documentos/area_pedagogica/dias_letivos/dias_letivos_2_semestre_2018.pdf">Dias Letivos</a></li>
                <li><a  target="_blank" href="Documentos/area_pedagogica/Formularios_pedagogicos/CRONOGRAMA_DE_AULA_CAI_FR-125-081-v01.zip">Formulários Pedagógicos</a></li>
                <li><a  target="_blank" href="Documentos/area_pedagogica/glossario/GLOSSARIO_DE_DESEMPENHOS.pdf">Glossário</a></li>
                <li><a  target="_blank" href="Documentos/area_pedagogica/plano_escolar/Plano_Escolar_2021_revisado.pdf">Plano Escolar 2021 - Revisado</a></li>
                <li><a  target="_blank" href="Documentos/area_pedagogica/plano_escolar/Plano_Escolar_2022.pdf">Plano Escolar 2022</a></li>
            </ul>
        </div>
    </div>
</section>
<%- include('footer'); -%>
<%- include('scripts'); -%>