<%- include('head'); -%>
<%- include('header'); -%>

<main class="main-cadastro">
    <div class="cadastro-finalizado">
        <h4>CADASTRO REALIZADO COM SUCESSO!</h4><br>
    </div>
    <div class="cadastro-finalizado">
        <p>Volte para o<a href="/cadastrar"><strong> cadastro</strong></a> ou veja os <a href="/classificados"><strong>produtos</strong></a></p>
    </div>
</main>

<%- include('scripts'); -%>