<%- include('head'); -%>
<%- include('header'); -%>

<main class="main-cadastro">
    <div class="cadastro-finalizado">
        <h4>CADASTRO REALIZADO COM SUCESSO!</h4><br>
    </div>
</main>

<%- include('scripts'); -%>