<%- include('head'); -%>
<%- include('header'); -%>
<section class="ftco-section w-100">
    <div class="flex">
        <div class="flex-item">
            <h1 class=" bread">Documentos Regulares</h1>
            <img src="images/pag/doc.jpg" alt="" class="img-flex">
        </div>
        <div class="flex-item amrgin-top" >
            <h4> Documentos regulares são os documentos fiscais emitidos e transmitidos sem nenhum tipo de particularidade ou divergência em sua transmissão. Ou seja, significa que a nota fiscal, ou o documento fiscal, consta com validade normal no ambiente eletrônico da RFB. </h4>
            <ul>
                <li><a href="Documentos/organograma/Organograma 2022-1.pdf" target="_blank">Organograma - 2022</a></li>
                <li><a href="Documentos\documentos_regulares\diversos\REGIMENTO-COMUM-DAS-UNIDADES-ESCOLARES-SENAI.pdf" target="_blank"> Regimento - Regimento Comum das Unidades Escolares Senai</a></li>
                <li><a href="Documentos\documentos_regulares\diversos\GUIA-RAPIDO-ASSESSORIA-DE-CONTROLE-DE-PROCESSOS-E-ERENCIAMENTO-DE-RISCOS.pdf" target="_blank"> Guia Rápido - Assessoria de Controle de Processos e Gerenciamento de Riscos</a></li>
                <h5 style="color: rgb(190, 9, 9); font-size: 20px; margin:10px -20px;">COMUNICADOS 2019</h5>
                <li><a href="Documentos\documentos_regulares\comunicados\001-19.pdf" target="_blank"> 001-19</a></li>
                <li><a href="Documentos\documentos_regulares\comunicados\002-19.pdf" target="_blank"> 002-19</a></li>
                <li><a href="Documentos\documentos_regulares\comunicados\003-19.pdf" target="_blank"> 003-19</a></li>
                <li><a href="Documentos\documentos_regulares\comunicados\004-19.pdf" target="_blank"> 004-19</a></li>
                <li><a href="Documentos\documentos_regulares\comunicados\005-19.pdf" target="_blank"> 005-19</a></li>
            </ul>
        </div>
    </div>
</section>
<%- include('footer'); -%>
<%- include('scripts'); -%>