<footer class="ftco-footer ftco-section img">
	<div class="overlay"></div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Informações Adicionais</h2>
					<p>Qualquer informação não pública devera ser previamente solicitada para compartilhamento.</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">	
						<li class="ftco-animate"><a href="https://www.youtube.com/channel/UCLWrOsJcSEQDL6FROWNYKLA" target="blank"><span class="icon-youtube btn-danger"></span></a></li>
						<li class="ftco-animate"><a href="https://twitter.com/SENAInacional?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank"><span class="icon-twitter btn-danger"></span></a></li>
						<li class="ftco-animate"><a href="https://pt-br.facebook.com/senaidiadema/" target="blank"><span class="icon-facebook btn-danger"></span></a></li>
						<li class="ftco-animate"><a href="https://www.instagram.com/senaidiadema/" target="blank"><span class="icon-instagram btn-danger"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Notícias</h2>
					<div class="block-21 mb-4 d-flex" name="noticias">
						
					</div>
					<div class="block-21 mb-4 d-flex" name="noticias">
						
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
						<li><a href="https://bradesco.com.br/" class="py-2 d-block" target="blank">Bradesco</a></li>
						<li><a href="https://pess.portal.senaisp.edu.br/" class="py-2 d-block" target="blank">Portal Senai</a></li>
						<li><a href="https://portalrh.sesisenaisp.org.br/arte/" class="py-2 d-block" target="blank">RH Senai</a></li>
						<li><a href="https://www.sodexobeneficios.com.br/sodexo-club/login/" class="py-2 d-block" target="blank">Sodexo</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Tem alguma pergunta?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<span class="icon icon-map-marker"></span>
								<span class="text">Rua Guatemala, 19 - Jardim Canhema - Diadema/SP</span>
							</li>
							<li>
								<a href="#"><span class="icon icon-phone"></span><span class="text">(11)4070-8950</span></a>
							</li>
							<li>
								<a href="#"><span class="icon icon-envelope"></span>
									<span class="text">senaidiadema@sp.senai.br</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Todos os Direitos Reservados | Senai Manuel Garcia Filho
					</p>
				</div>
			</div>
		</div>
	</footer>