<%- include('head'); -%>
<%- include('header'); -%>
<section class="ftco-section w-100">
    <div class="flex">
        <div class="flex-item">
            <h1 class=" bread">Formulário Padrão</h1>
            <img src="images/pag/form.jpg" alt="" class="img-flex">
        </div>
        <div class="flex-item amrgin-top" >
            <h4>Formulário Padrão para vagas de estágio e emprego:</h4>
            <ul>
            <li><a href="Documentos/formularios_padroes/formulario-padrao-anuncio-de-vaga-de-emprego.xlsx" style="font-size: 20px;" target="_blank">Formulário</a></li>
            </ul>
        </div>
    </div>
</section>
<%- include('footer'); -%>
<%- include('scripts'); -%>