<nav
	class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
	id="ftco-navbar"
	>
	<div class="container">
		<a class="navbar-brand" href="/home"
		><img src="images/logo2.png" width="150px" alt=""
		/></a>
		<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#ftco-nav"
		aria-controls="ftco-nav"
		aria-expanded="false"
		aria-label="Toggle navigation"
		>
		<span class="oi oi-menu"></span> Menu
	</button>
	<div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="/cursos" class="nav-link">Cursos</a>
			</li>
			<li class="nav-item">
				<a href="/classificados" class="nav-link">Classificados</a>
			</li>
			<div class="nav-item dropdown">
				<a
				href="#"
				class="nav-link dropdown-toggle"
				data-toggle="dropdown"
				>Funcionalidades</a
				>
				<div class="dropdown-menu">
					<a href="http://10.107.68.124" target="_blank" class="dropdown-item">Carômetro</a>
					<a href="/ti" class="dropdown-item">Tecnologia da Informação</a>
					<a href="/areaPedagogica" class="dropdown-item">Área Pedagógica</a>
					<a href="/GestaoQualidade" class="dropdown-item">Gestão de Qualidade</a>
					<a href="/DocumentosRegulares" class="dropdown-item">Documentos Regulares</a>
					<a href="/FormularioPadrao" class="dropdown-item">Formulário Padrão</a>
				</div>
			</div>
			<div class="nav-item dropdown">
				<a
				href="/servicos"
				class="nav-link dropdown-toggle"
				data-toggle="dropdown"
				>Serviços</a
				>
				<div class="dropdown-menu">
					<a href="/servicos#aapm" class="dropdown-item">AAPM</a>
					<a href="/servicos#aapm" class="dropdown-item">Biblioteca</a>
					<a href="/servicos#formPadrao" class="dropdown-item">Secretaria</a>
					<a href="/servicos#secretaria" class="dropdown-item"
					>Aprendizagem e Vivência</a
					>
				</div>
			</div>
			<li class="nav-item">
				<a href="/sobre" class="nav-link">Sobre</a>
			</li>
			<li class="nav-item ">
				<a href="/contato" class="nav-link">Contato</a>
			</li>
		</ul>
	</div>
</div>
</nav>