<%- include('head'); -%>
<%- include('header'); -%>
<section class="lapis overlay" style="background-image: url(images/Servicos.jpg);background-attachment: fixed;">
    
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <span id="aapm"></span>
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Serviços</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html" style="color:white">Home</a></span> <span>/ Serviços</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="background-image: url(images/WallpaperBranco.jpg);background-attachment: fixed; background-size: cover;">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">AAPM</h2>
                    <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                </div>
            </div>
        </div>
        <span id="areaPeg"></span>
        <div class="links">
            <h6> A Associação é uma entidade sem fins lucrativos e com objetivos sociais e educativos, que tem por finalidade apoiar a Gestão da Escola no alcance dos objetivos educacionais, na melhoria do ensino, no desenvolvimento de atividades de assistência aos alunos e nas atividades sociais, culturais e de lazer.</h6>
            
            <a href="Documentos/aapm/AAPM_2019_ATA_01.pdf" target="_blank"> ATA DE REUNIÃO DO CONSELHO DELIBERATIVO (15/02/2019)</a>
            
            <span>|</span>
            
            <a href="Documentos/aapm/AAPM_2019-EDITAL-CONVOCACAO-CONSELHO-DELIBERATIVO.pdf" target="_blank"> CONVOCAÇÃO CONSELHO DELIBERATIVO</a>
            
            <span>|</span>
            
            <a href="Documentos/aapm/AAPM_2018_ESTATUTO.pdf" target="_blank">Estatuto</a>
            
            <a href="Documentos/aapm/AAPM_2018-PLANO_DE_TRABALHO.pdf" target="_blank"> Plano de Trabalho 2018</a> 
            
            <span>|</span>
            
            <a href="Documentos/aapm/AAPM_2019-PLANO_DE_TRABALHO.pdf" target="_blank"> Plano de Trabalho 2019</a>
        </div>
    </section>
    
    
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Biblioteca</h2>
                    <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                </div>
            </div>
        </div>
        <span id="gestaoQual"></span>
        <div class="links">
            <h6> A Biblioteca coleta, organiza e divulga informações que agregam valores ao processo de tomada de decisão e à criação de novos conhecimentos na área de atuação da escola. Os serviços de informação e os recursos bibliográficos são direcionados preferencialmente para alunos e docentes da escola, mas não excluem os usuários externos que a ela recorram.</h6>
            
            <a href="Documentos/biblioteca/" target="_blank">Acervo de Vídeos: Formaturas</a>
            <span>|</span>
            
            <a href="Documentos/biblioteca/Regulamento_Biblioteca_2020.pdf" target="_blank"> Regulamento Biblioteca </a>
            
            <h5 style="color: rgb(190, 9, 9); font-size: 20px; margin-top: 1%;">Sistemas</h5> 
            <a href="#"> ABNT Coleção </a> 
            <span>|</span>
            
            
            <a href="#" target="_blank"> BASE NIF - Pesquisa do Acervo Local </a>
            <span>|</span>
            <a href="#" target="_blank"> Estante Virtual de Livros Didáticos Digitais SENAI </a>
            <span>|</span>
            <a href="#" target="_blank">PERGANUM - Pesquisa de todos os acervos da rede de Bibliotecas SENAI SP</a>
        </div>
    </section>
    
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Secretaria</h2>
                    <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                </div>
                
            </div>
            <span id="DocReg"></span>
            <span id="formPadrao"></span>
        </div>
        <div class="links">
            <h6> A secretaria escolar é o departamento que assume o relevante encargo de manter, com eficiência e eficácia, a documentação, a escrituração e arquivos. </h6>
            <!--
                
                <a href="#">Metas de Matriculas - 2019</a>
                
                <span>|</span>
                
                <a href="#"> Referências de Gestão - Plano de Metas 2018/2019</a>
                
                <span>|</span>
                
                <a href="#"> Histórico de Consumo de Recursos - Água</a>
                
                <span>|</span>
                
                <a href="#"> Histórico de Consumo de Recursos - Energia Elétrica</a>-->
            </div>
        </section>
        
        
        
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <h2 class="mb-4">Aprendizagem e Vivência</h2>
                        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                    </div>
                </div>
            </div>
            <div class="links">
                <h6>  A Vivência Profissional trata-se de um curso de aperfeiçoamento profissional dentro da Formação Inicial e Continuada – FIC -  que prevê uma parte teórica na forma de Ensino à Distância (EAD) com duração de 80 horas e uma parte prática realizada na empresa, na forma do estágio, com duração mínima de 400 horas e máxima de 1500 horas. </h6>
                
                
                <h5 style="color: rgb(190, 9, 9); font-size: 20px; margin-top: 1%;">Aprendizagem Industrial</h5> 
                <a href="#" target="_blank"> Manual de Orientação às Empresas </a> <span>|</span>
                
                <a href="Documentos/cai_vivencia/cai/modelo-de-contrato-de-aprendizagem-tipo-A-4h_2020.docx" target="_blank"> Modelo de Contrato de Aprendizagem - TIPO A </a> <span>|</span>
                
                <a href="Documentos/cai_vivencia/cai/modelo-de-contrato-de-aprendizagem-tipo-b-4h-Senai-e-4h-empresa.docx" target="_blank"> Modelo de Contrato de Aprendizagem - TIPO B </a>
                
                <h5 style="color: rgb(190, 9, 9); font-size: 20px; margin-top: 1%;">Download da Documentação de Vivência Profissional - ESTÁGIO</h5> 
                <h4 style="color: rgb(190, 9, 9); font-size: 17px; margin-top: 1%;">Informações</h4> 
                <a href="Documentos/cai_vivencia/vivencia/Informacoes_-_Cartilha_MEC.pdf" target="_blank"> CARTILHA MEC </a> <span>|</span>
                
                <a href="#" target="_blank"> LEGISLAÇÃO - LEI Nº 11.788 </a> <span>|</span>
                
                <a href="#" target="_blank"> REGULAMENTO DO PROGRAMA </a>
                
                <h4 style="color: rgb(190, 9, 9); font-size: 17px; margin-top: 1%;">Documentação para o Início do Estágio</h4> 
                <a href="#" target="_blank"> Adiantamento de Compromisso para Estágio de Complementação Educacional </a> <span>|</span>
                
                <a href="Documentos/cai_vivencia/vivencia/Inicio_do_Estagio_-_Termo_de_Compromisso_da_Vi.doc" target="_blank"> Termo de Compromisso da Vivência Profissional </a>
                
                <h4 style="color: rgb(190, 9, 9); font-size: 17px; margin-top: 1%;">Documentação para Encerramento do Estágio</h4> 
                
                <a href="" target="_blank"> Avaliação de Desempenho Pessoal e Técnico do Estagiário </a> <span>|</span>
                
                <a href="Documentos/cai_vivencia/vivencia/Encerramento_do_Estagio_-_Declaracao_de_Horas.docx" target="_blank"> Declaração de Horas Estagiadas </a> <span>|</span>
                
                <a href="Documentos/cai_vivencia/vivencia/Encerramento_do_Estagio_-_Relatorio_de_Ativid.docx" target="_blank"> Relatório de Atividades Desenvolvidas pelo Estagiário na Empresa </a> <span>|</span>
                
                <a href="Documentos/cai_vivencia/vivencia/Encerramento_do_Estagio_-_Relatorio_de_Auto_A.docx" target="_blank"> Relatório de Autoavaliação </a>
                
                <h4 style="color: rgb(190, 9, 9); font-size: 17px; margin-top: 1%;"> Divulgação de Vagas de Estágio</h4> 
                
                <a href="Documentos/cai_vivencia/vivencia/Vagas_de_Estagio_-_Formulario_Modelo_de_Ofert.docx" target="_blank"> Formulário Modelo de Oferta de Vagas</a>
                
                
            </div>
        </section>
    </div>
    <%- include('footer'); -%>
    <%- include('scripts'); -%>