.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}

.flex-item{
    width: 45vw;
    margin: 20px;
    text-align: justify;
}

.img-flex{
    width: 100%;
}

.start{
    margin-top:0px;
}

.amrgin-top{
    margin-top: 85px;
}

section{
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .flex-item{
        width: 90vw;
    }
}