<%- include('head'); -%>
<%- include('header'); -%>
<section class="home-slider owl-carousel img" style="background-image: url(images/Classificados.jpg);">
    <div class="slider-item" style="background-image: url(images/Classificados.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center">
          <div class="col-md-7 col-sm-12 text-center ftco-animate">
              <h1 class="mb-3 mt-5 bread">Classificados</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Classificados</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
 <main>
  <form action="">
    <h1>FORMULÁRIO</h1><h6>PARA CADASTRO DO VENDEDOR</h6>
    <label for="nNome">Nome: </label> <input type="text" id="nNome" size="40" required>
    <label for="nTelefone">Telefone: </label> <input type="tel" id="nTelefone" required>
    <label for="nTelefone">Email: </label> <input type="email" id="nEmail" size="50" required><hr>
    <h6>PARA CADASTRO DO PRODUTO</h6>
    <label for="nNomeProduto">Nome do Produto: </label> <input type="text" id="nNomeProduto" size="40" required>
    <label for="nValor">Valor: </label> <input type="number" id="nValor" required><hr>
    <textarea id="nDesc" cols="30" placeholder="Descrição do Produto" style="width: 100%;"></textarea><br>
    <input type="submit" value="Enviar Produto" class="btn btn-dark">
  </form>
  
  <h1>PRODUTOS</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="class-container">
          <div class="class-info">
            <h6>VENDEDOR</h6> <p>Rafael Leite da Silva</p>
            <h6>TELEFONE</h6> <p> (11) 99972-8065</p>
            <h6>EMAIL</h6> <p>rafael.leite.14@hotmail.com</p>
            <h6>STATUS</h6> <p style="color: green; font-weight:bold;">DISPONÍVEL</p>
          </div>
          <div class="class-desc">
            <h6>PRODUTO</h6> <p>Notebook Odyssey</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium placeat obcaecati, quibusdam, totam pariatur hic cupiditate ipsa sint nihil sed officiis, nemo at. Fugiat eos magni laudantium beatae soluta!</p>
            <h6>VALOR</h6> <p>R$2500,00</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="class-container">
          <div class="class-info">
            <h6>VENDEDOR</h6> <p>Rafael Leite da Silva</p>
            <h6>TELEFONE</h6> <p> (11) 99972-8065</p>
            <h6>EMAIL</h6> <p>rafael.leite.14@hotmail.com</p>
            <h6>STATUS</h6> <p style="color: red; font-weight:bold;">VENDIDO</p>
          </div>
          <div class="class-desc">
            <h6>PRODUTO</h6> <p>Notebook Odyssey</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ve</p>
            <h6>VALOR</h6> <p>R$2500,00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </main>
<%- include('footer'); -%>
<%- include('scripts'); -%>