<%- include('head'); -%>
<%- include('header'); -%>
<section class="ftco-section w-100">
    <div class="flex">
        <div class="flex-item">
            <h1 class=" bread">Gestão de Qualidade</h1>
            <img src="images/pag/gdq.jpg" alt="" class="img-flex">
        </div>
        <div class="flex-item amrgin-top" >
            <h4> A gestão da qualidade assegura que uma organização, produto ou serviço seja consistente. Ela possui quatro componentes principais: planeamento de qualidade, garantia de qualidade, controle de qualidade e melhoria da qualidade. Os links abaixo contemplam documentos referentes as metas, gestão e histórico de consumo: </h4>
            <ul>
                <li><a  target="_blank" href="Documentos/area_pedagogica/calendario_escolar/Calendário 2º 2022 V2.pdf">Consumo Anual de Água</a></li>
                
                <li><a  target="_blank" href="Documentos/area_pedagogica/calendario_escolar/Calendário 2º 2022 V2.pdf">Consumo Anual de Energia Elétrica</a></li>

                <li><a  target="_blank" href="Documentos/area_pedagogica/calendario_escolar/Calendário 2º 2022 V2.pdf">Consumo de Energia Elétrica</a></li>
                
                <li><a  target="_blank" href="Documentos/area_pedagogica/calendario_escolar/Calendário 2º 2022 V2.pdf">Planejamento de Produção</a></li>
                
                <li><a href="#" target="_blank"> Consumo de Água</a></li>
                
                <li><a  target="_blank" href="Documentos/area_pedagogica/calendario_escolar/Calendário 2º 2022 V2.pdf">Planejamento de Produção</a></li>
                
                <li><a href="#" target="_blank"> Referências de Gestão Plano de Metas</a></li>
            </ul>
        </div>
        <div class="flex-item start" >
            <h5 style="color: rgb(190, 9, 9); font-size: 20px;">Cadernos de Programa</h5>
                
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-agua.pdf" target="_blank"> 125-Caderno de Programa Ambiental Água</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-Coleta-Seletiva.pdf" target="_blank"> 125-Caderno de Programa Ambiental Coleta Seletiva</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-Energia-Eletrica.pdf" target="_blank"> 125-Caderno de Programa Ambiental Energia Elétrica</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-Lampadas-fluorescentes.pdf" target="_blank"> 125-Caderno de Programa Ambiental Lâmpadas Fluorescentes</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-oleo-comestivel-usado.pdf" target="_blank"> 125-Caderno de Programa Ambiental Óleo Comestível Usado</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-papel.pdf" target="_blank"> 125-Caderno de Programa Ambiental Papel</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-toalhas-Industriais.pdf" target="_blank"> 125-Caderno de Programa Ambiental Toalhas Industriais</a></li>
                <li><a href="Documentos/gestao_da_qualidade/125-Caderno-de-Programa-Ambiental-Oleos.pdf" target="_blank"> 125-Caderno de Programa Ambiental Óleos</a></li>
        </div>
    </div>
</section>
<%- include('footer'); -%>
<%- include('scripts'); -%>