<%- include('head'); -%>
<%- include('header'); -%>
<section class="ftco-section w-100">
    <div class="flex">
        <div class="flex-item">
            <h1 class=" bread">Tecnologia da Informação</h1>
            <img src="images/pag/ti.jpg" alt="" class="img-flex">
        </div>
        <div class="flex-item amrgin-top" >
            <h4> A TI engloba uma série de soluções e atividades, que envolvem banco de dados, hardwares, softwares e redes (doméstica ou empresarial), para facilitar o acesso, fazer análises e gerenciamento de informações. Clique nos links abaixo para ter mais informações sobre essa área:</h4>
            <ul>
                <li>
                    <a href="Documentos/tecnologia_da_informacao/psi.pdf" target="_blank">Política de Segurança da Informação</a>
                </li>
                <li>
                    <a href="Documentos/tecnologia_da_informacao/softwares_homologados.pdf" target="_blank"> Softwares Homologados</a>
                </li>
                <li>
                    <a href="Documentos/tecnologia_da_informacao/manual_glpi.pdf" target="_blank"> Manual do Usuário - GLPI (Sistema de Chamados)</a>
                </li>
                <li>
                    <a href="Documentos/tecnologia_da_informacao/Certificado-e-intrucoes-de-uso.zip" target="_blank"> Certificado Firewall e Instruções de uso</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<%- include('footer'); -%>
<%- include('scripts'); -%>